.product {
  &__image {
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #bdbbbb;
  }

  &__description {
    margin: 2.4rem auto;
    color: #908d8d;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.product-btn {
  font-size: 1.6rem;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}
